.app {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-linear-gradient(351deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70);
  background-image: -o-linear-gradient(351deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70);
  background-image: linear-gradient(99deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70);
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: white;
}



.auth {
  border-radius: 8px;
  -webkit-box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
  background-image: -webkit-linear-gradient(353deg, #ff7a6e, #Ffd670);
  background-image: -o-linear-gradient(353deg, #ff7a6e, #Ffd670);
  background-image: linear-gradient(97deg, #ff7a6e, #Ffd670);
  width: 35vw;
  height: 55vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.main-h1 {
  font-size: 80px;
  font-weight: 700;
}

.btns {
    border-radius: 1px;
    background-image: -webkit-radial-gradient(50% -46%, circle, #737373, #403d39);
    background-image: -o-radial-gradient(50% -46%, circle, #737373, #403d39);
    background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    /* height: 45px;
    width: 65px; */
    padding: 10px 20px;
    color: white;
    border: none;
  }